<div class="CHAPTER">
    <%= t('cssExercises.question11.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('cssExercises.question') %> 11 : <%= t('cssExercises.question11.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(11,1,this)">
    <%= t('cssExercises.question11.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(11,2,this)">
    <%= t('cssExercises.question11.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(11,3,this)">
    <%= t('cssExercises.question11.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(11,4,this)">
    <%= t('cssExercises.question11.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(11,5,this)">
    <%= t('cssExercises.question11.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +140
    <%= t('cssExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -14
    <%= t('cssExercises.points') %>
</div>
</div>
<hr>