<div class="CHAPTER">
    <%= t('cssExercises.question12.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('cssExercises.question') %> 12 : <%= t('cssExercises.question12.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(12,1,this)">
    <%= t('cssExercises.question12.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(12,2,this)">
    <%= t('cssExercises.question12.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(12,3,this)">
    <%= t('cssExercises.question12.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(12,4,this)">
    <%= t('cssExercises.question12.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(12,5,this)">
    <%= t('cssExercises.question12.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +140
    <%= t('cssExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -14
    <%= t('cssExercises.points') %>
</div>
</div>
<hr>