<div class="CHAPTER">
    <%= t('cssExercises.question20.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('cssExercises.question') %> 20 : <%= t('cssExercises.question20.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(20,1,this)">
    <%= t('cssExercises.question20.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(20,2,this)">
    <%= t('cssExercises.question20.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(20,3,this)">
    <%= t('cssExercises.question20.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(20,4,this)">
    <%= t('cssExercises.question20.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(20,5,this)">
    <%= t('cssExercises.question20.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +400
    <%= t('cssExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -40
    <%= t('cssExercises.points') %>
</div>
</div>