<div class="CHAPTER">
    <%= t('cssExercises.question3.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('cssExercises.question') %> 3 : <%= t('cssExercises.question3.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(3,1,this)">
    <%= t('cssExercises.question3.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(3,2,this)">
    <%= t('cssExercises.question3.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(3,3,this)">
    <%= t('cssExercises.question3.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(3,4,this)">
    <%= t('cssExercises.question3.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(3,5,this)">
    <%= t('cssExercises.question3.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +10
    <%= t('cssExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -1
    <%= t('cssExercises.points') %>
</div>
</div>
<hr>