<div class="CHAPTER">
    <%= t('htmlExercises.question12.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 12 : <%= t('htmlExercises.question12.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-12,1" onclick="checkAnswer(12,1,this)">
    <%= t('htmlExercises.question12.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-12,2" onclick="checkAnswer(12,2,this)">
    <%= t('htmlExercises.question12.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-12,3" onclick="checkAnswer(12,3,this)">
    <%= t('htmlExercises.question12.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-12,4" onclick="checkAnswer(12,4,this)">
    <%= t('htmlExercises.question12.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-12,5" onclick="checkAnswer(12,5,this)">
    <%= t('htmlExercises.question12.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +100
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -10
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>