<div class="CHAPTER">
    <%= t('htmlExercises.question15.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 15 : <%= t('htmlExercises.question15.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-15,1" onclick="checkAnswer(15,1,this)">
    <%= t('htmlExercises.question15.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-15,2" onclick="checkAnswer(15,2,this)">
    <%= t('htmlExercises.question15.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-15,3" onclick="checkAnswer(15,3,this)">
    <%= t('htmlExercises.question15.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-15,4" onclick="checkAnswer(15,4,this)">
    <%= t('htmlExercises.question15.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-15,5" onclick="checkAnswer(15,5,this)">
    <%= t('htmlExercises.question15.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +120
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -12
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>