<div class="CHAPTER">
    <%= t('htmlExercises.question19.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 19 : <%= t('htmlExercises.question19.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-19,1" onclick="checkAnswer(19,1,this)">
    <%= t('htmlExercises.question19.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-19,2" onclick="checkAnswer(19,2,this)">
    <%= t('htmlExercises.question19.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-19,3" onclick="checkAnswer(19,3,this)">
    <%= t('htmlExercises.question19.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-19,4" onclick="checkAnswer(19,4,this)">
    <%= t('htmlExercises.question19.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-19,5" onclick="checkAnswer(19,5,this)">
    <%= t('htmlExercises.question19.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +150
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -15
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>