<div class="CHAPTER">
    <%= t('htmlExercises.question2.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 2 : <%= t('htmlExercises.question2.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-2,1" onclick="checkAnswer(2,1,this)">
    <%= t('htmlExercises.question2.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-2,2" onclick="checkAnswer(2,2,this)">
    <%= t('htmlExercises.question2.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-2,3" onclick="checkAnswer(2,3,this)">
    <%= t('htmlExercises.question2.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-2,4" onclick="checkAnswer(2,4,this)">
    <%= t('htmlExercises.question2.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-2,5" onclick="checkAnswer(2,5,this)">
    <%= t('htmlExercises.question2.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +10
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -1
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>