<div class="CHAPTER">
    <%= t('htmlExercises.question20.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 20 : <%= t('htmlExercises.question20.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-20,1" onclick="checkAnswer(20,1,this)">
    <%= t('htmlExercises.question20.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-20,2" onclick="checkAnswer(20,2,this)">
    <%= t('htmlExercises.question20.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-20,3" onclick="checkAnswer(20,3,this)">
    <%= t('htmlExercises.question20.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-20,4" onclick="checkAnswer(20,4,this)">
    <%= t('htmlExercises.question20.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-20,5" onclick="checkAnswer(20,5,this)">
    <%= t('htmlExercises.question20.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +300
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -30
    <%= t('htmlExercises.points') %>
</div>
</div>