<div class="CHAPTER">
    <%= t('htmlExercises.question5.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 5 : <%= t('htmlExercises.question5.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-5,1" onclick="checkAnswer(5,1,this)">
    <%= t('htmlExercises.question5.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-5,2" onclick="checkAnswer(5,2,this)">
    <%= t('htmlExercises.question5.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-5,3" onclick="checkAnswer(5,3,this)">
    <%= t('htmlExercises.question5.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-5,4" onclick="checkAnswer(5,4,this)">
    <%= t('htmlExercises.question5.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-5,5" onclick="checkAnswer(5,5,this)">
    <%= t('htmlExercises.question5.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +40
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -4
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>