<div class="CHAPTER">
    <%= t('htmlExercises.question7.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 7 : <%= t('htmlExercises.question7.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-7,1" onclick="checkAnswer(7,1,this)">
    <%= t('htmlExercises.question7.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-7,2" onclick="checkAnswer(7,2,this)">
    <%= t('htmlExercises.question7.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-7,3" onclick="checkAnswer(7,3,this)">
    <%= t('htmlExercises.question7.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-7,4" onclick="checkAnswer(7,4,this)">
    <%= t('htmlExercises.question7.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-7,5" onclick="checkAnswer(7,5,this)">
    <%= t('htmlExercises.question7.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +60
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -6
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>