<div class="CHAPTER">
    <%= t('htmlExercises.question8.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 8 : <%= t('htmlExercises.question8.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-8,1" onclick="checkAnswer(8,1,this)">
    <%= t('htmlExercises.question8.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-8,2" onclick="checkAnswer(8,2,this)">
    <%= t('htmlExercises.question8.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-8,3" onclick="checkAnswer(8,3,this)">
    <%= t('htmlExercises.question8.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-8,4" onclick="checkAnswer(8,4,this)">
    <%= t('htmlExercises.question8.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-8,5" onclick="checkAnswer(8,5,this)">
    <%= t('htmlExercises.question8.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +70
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -7
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>