<div class="CHAPTER">
    <%= t('htmlExercises.question9.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('htmlExercises.question') %> 9 : <%= t('htmlExercises.question9.question') %>
</h1>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-9,1" onclick="checkAnswer(9,1,this)">
    <%= t('htmlExercises.question9.answer1') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-9,2" onclick="checkAnswer(9,2,this)">
    <%= t('htmlExercises.question9.answer2') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-9,3" onclick="checkAnswer(9,3,this)">
    <%= t('htmlExercises.question9.answer3') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-9,4" onclick="checkAnswer(9,4,this)">
    <%= t('htmlExercises.question9.answer4') %>
</div>
<div class="ANSWERBUTTON" id="ANSWERBUTTON-9,5" onclick="checkAnswer(9,5,this)">
    <%= t('htmlExercises.question9.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +80
    <%= t('htmlExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -8
    <%= t('htmlExercises.points') %>
</div>
</div>
<hr>