<style>
    .HEADER {
        width: 100%;
        height: 80px;
        background-color: #FAD473;
        display: flex;
        justify-content: space-between;
    }

    .HEADERLOGO {
        padding: 10px;
        height: 60px;
        width: 60px;
    }

    .MENUBUTTONSMALLSCREEN {
        padding: 10px;
        height: 60px;
        width: 60px;
    }

    .DROPDOWNMENU,
    .DROPDOWNMENUSMALLSCREEN {
        z-index: 1;
        position: relative;
    }

    .DROPDOWNMENUSMALLSCREEN {
        display: none;
        cursor: pointer;
    }

    .DROPDOWNMENU:hover .DROPDOWNMENUCONTENT {
        display: block;
    }

    .MENUBUTTON {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        color: #445368;
        background-color: #FAD473;
        font-size: 1.5rem;
        font-family: "Arial";
        font-weight: bold;
        user-select: none;
        height: 30px;
        /*80 - 2*padding */
    }

    .MENUBUTTON:hover {
        background-color: #ef9d6e;
        cursor: pointer;
    }

    .DROPDOWNMENUCONTENT {
        display: none;
        position: absolute;
        right: 0;
        background-color: #FAD473;
    }

    .HEADERHALF,
    .HEADERSECONDHALF {
        width: auto;
        height: 100%;
        display: flex;
        gap: 10px;
    }

    .HEADERSECONDHALF {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .HEADERSEARCH,
    .HEADERSIDEMENUSEARCH {
        margin: 10px;
        border-radius: 500px;
        border: none;
        width: 250px;
        font-size: 20px;
    }

    .HEADERSIDEMENUSEARCH {
        width: 96%;
        padding: 2%;
    }

    .HEADERSEARCH:enabled {
        outline: none;
    }

    .LANGSELECT {
        height: 50px;
        user-select: none;
        cursor: pointer;
        border: none;
    }

    #LOGINBUTTON,
    #PROFILEIMAGE {
        display: none;
    }

    #PROFILEIMAGE {
        padding: 10px;
        width: 55px;
        height: 55px;
    }

    #PROFILEIMAGE:hover {
        background-color: #FAD473;
    }

    #PROFILEIMAGE:hover {
        background-color: #FAD473;
    }

    #HOMEBUTTON:hover #HOMEBUTTONSVG {
        fill: #ef9d6e;
        cursor: pointer;
    }

    #PROFILEIMAGE:hover #PROFILEIMAGESVG {
        fill: #ef9d6e;
    }

    :dir(rtl) {
        .HEADERSIDEMENU {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: 100%;
            background-color: #fff0cc;
            z-index: 2;
        }
    }

    :dir(ltr) {
        .HEADERSIDEMENU {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 100%;
            background-color: #fff0cc;
            z-index: 2;
        }
    }



    .HEADERSIDEMENUCONTENT {
        display: none;
        overflow-x: hidden;
        overflow-y: scroll;
    }


    :dir(rtl) {
        .HEADERSIDEMENUOPENED {
            right: 50%;
        }
    }

    :dir(ltr) {
        .HEADERSIDEMENUOPENED {
            left: 50%;
        }
    }

    .HEADERSIDEMENUCLOSE {
        font-size: 100%;
        user-select: none;
        padding: 5%;
        font-family: "Arial";
        font-weight: bold;
        color: #445368;
        cursor: pointer;
        width: fit-content;
    }

    .HEADERSIDEMENUCLOSE:hover {
        color: white;
    }

    .HEADERSIDEMENUBUTTON {
        padding: 10px;
        color: #445368;
        background-color: #fff0cc;
        font-size: 14px;
        font-family: "Arial";
        font-weight: bold;
        user-select: none;
        cursor: pointer;
    }

    .HEADERSIDEMENUBUTTON:hover {
        background-color: #fee9b6;
    }

    #HEADERSIDEMENULOGIN,
    #HEADERSIDEMENUPROFILE,
    #HEADERSIDEMENULOGOUT {
        display: none;
    }

    @media (min-width: 1100px) {
        :dir(rtl) {
            .HEADERSIDEMENUOPENED {
                right: 100%;
            }
        }

        :dir(ltr) {
            .HEADERSIDEMENUOPENED {
                left: 100%;
            }
        }
    }

    @media (max-width: 1100px) {

        .MENUBUTTON,
        .HEADERSEARCH,
        .DROPDOWNMENU,
        #LOGINBUTTONDIV {
            display: none;
        }

        .DROPDOWNMENUSMALLSCREEN {
            display: block;
        }
    }

    @media (max-width: 500px) {
        :dir(rtl) {
            .HEADERSIDEMENUOPENED {
                right: 0;
            }
        }

        :dir(ltr) {
            .HEADERSIDEMENUOPENED {
                left: 0;
            }
        }
    }
</style>

<div class="HEADERSIDEMENU">
    <div class="HEADERSIDEMENUCONTENT">
        <div class="HEADERSIDEMENUCLOSE">X</div>
        <input class="HEADERSIDEMENUSEARCH" type="search" placeholder=" <%= t('header.search') %> ">
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUTUTORIALSHTML">
            <%= t('header.html') %>
                ( - <%= t('header.htmlTutorials') %> )
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUEXERCISESHTML">
            <%= t('header.html') %>
                ( - <%= t('header.htmlExercises') %> )
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUTUTORIALSCSS">
            <%= t('header.css') %>
                ( - <%= t('header.cssTutorials') %> )
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUEXERCISESCSS">
            <%= t('header.css') %>
                ( - <%= t('header.cssExercises') %> )
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUTUTORIALSJS">
            <%= t('header.js') %>
                ( - <%= t('header.jsTutorials') %> )
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUEXERCISESJS">
            <%= t('header.js') %>
                ( - <%= t('header.jsExercises') %> )
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUCODEEDITOR">
            <%= t('header.codeEditor') %>
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENULOGIN">
            <%= t('header.login') %>
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENUPROFILE">
            <%= t('header.profile') %>
        </div>
        <div class="HEADERSIDEMENUBUTTON" id="HEADERSIDEMENULOGOUT">
            <%= t('header.logout') %>
        </div>
    </div>
</div>

<header class="HEADER">
    <div class="HEADERHALF">
        <div class="HEADERLOGO" style="cursor: pointer;">
            <img
                src="https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/1e4e4bd65bfed1479c5e272f2a43b8da9f849aa7/html2hero-icon.svg">
        </div>
        <div style="display: flex;">
            <div class="DROPDOWNMENU">
                <div class="MENUBUTTON">
                    <%= t('header.html') %>
                </div>
                <div class="DROPDOWNMENUCONTENT">
                    <div class="MENUBUTTON HEADERTUTORIALSHTMLBUTTON">
                        <%= t('header.htmlTutorials') %>
                    </div>
                    <div class="MENUBUTTON HEADEREXERCISESHTMLBUTTON">
                        <%= t('header.htmlExercises') %>
                    </div>
                </div>
            </div>

            <div class="DROPDOWNMENU">
                <div class="MENUBUTTON">
                    <%= t('header.css') %>
                </div>
                <div class="DROPDOWNMENUCONTENT">
                    <div class="MENUBUTTON HEADERTUTORIALSCSSBUTTON">
                        <%= t('header.cssTutorials') %>
                    </div>
                    <div class="MENUBUTTON HEADEREXERCISESCSSBUTTON">
                        <%= t('header.cssExercises') %>
                    </div>
                </div>
            </div>

            <div class="DROPDOWNMENU">
                <div class="MENUBUTTON">
                    <%= t('header.js') %>
                </div>
                <div class="DROPDOWNMENUCONTENT">
                    <div class="MENUBUTTON HEADERTUTORIALSJSBUTTON">
                        <%= t('header.jsTutorials') %>
                    </div>
                    <div class="MENUBUTTON HEADEREXERCISESJSBUTTON">
                        <%= t('header.jsExercises') %>
                    </div>
                </div>
            </div>
            <div class="MENUBUTTON HEADERCODEEDITORBUTTON">
                <%= t('header.codeEditor') %>
            </div>
        </div>
        <input class="HEADERSEARCH" type="search" placeholder=" <%= t('header.search') %> ">
    </div>
    <div class="HEADERSECONDHALF">
        <div class="DROPDOWNMENUSMALLSCREEN">
            <svg width="60px" height="60px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6H20M4 12H20M4 18H20" stroke="#445368" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
        <div class="DROPDOWNMENU">
            <div class="MENUBUTTON" id="PROFILEIMAGE">
                <svg id="PROFILEIMAGESVG" fill="#EF6E72" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="55px" height="55px" viewBox="0 0 45.532 45.532"
                    id="profile_image">
                    <g>
                        <circle cx="22.766" cy="22.766" r="17" fill="#ffffff" />
                        <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765
    S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53
    c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012
    c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592
    c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z" />
                    </g>
                </svg>
            </div>
            <div class="DROPDOWNMENUCONTENT">
                <div class="MENUBUTTON" id="PROFILEBUTTON">
                    <%= t('header.profile') %>
                </div>
                <div class="MENUBUTTON" id="LOGOUTBUTTON">
                    <%= t('header.logout') %>
                </div>
            </div>
        </div>
        <div id="LOGINBUTTONDIV">
            <div class="MENUBUTTON" id="LOGINBUTTON">
                <%= t('header.login') %>
            </div>
        </div>
        <select class="LANGSELECT" name="language" id="LANGSELECT">
            <option value="en">EN</option>
            <option value="tr">TR</option>
            <option value="es">ES</option>
            <option value="fr">FR</option>
            <option value="de">DE</option>
            <option value="pt">PT</option>
            <option value="ar">AR</option>
            <option value="ru">RU</option>
        </select>
    </div>
</header>

<script>
    let lang_code = "<%= lang %>";

    function getCookie(name) {
        // Construct the cookie name as a search pattern
        const cookiePattern = `${name}=`;
        const cookies = document.cookie.split('; '); // Split cookies into individual parts

        for (let cookie of cookies) {
            if (cookie.startsWith(cookiePattern)) {
                // Extract the cookie value
                return decodeURIComponent(cookie.substring(cookiePattern.length));
            }
        }

        // Return null if cookie is not found
        return null;
    }

    function deleteCookie(cookieName) {
        document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
    }

    let langSelect = document.querySelector(".LANGSELECT");
    langSelect.value = lang_code;
    langSelect.addEventListener("change", (e) => {
        var currentPathArray = window.location.pathname.split('/');
        if (currentPathArray[0].length !== 0) {
            currentPathArray[0] = e.target.value;
        } else {
            currentPathArray[1] = e.target.value;
        }
        window.location.href = currentPathArray.join('/')
    })

    let SEARCHBAR = document.querySelector(".HEADERSEARCH")
    let HEADERSIDEMENUSEARCH = document.querySelector(".HEADERSIDEMENUSEARCH")
    SEARCHBAR.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            if (event.target.value.length > 0) {
                window.location.href = "/" + lang_code + "/" + "search/" + event.target.value;
            }
        }
    })
    HEADERSIDEMENUSEARCH.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            if (event.target.value.length > 0) {
                window.location.href = "/" + lang_code + "/" + "search/" + event.target.value;
            }
        }
    })

    let loginButton = document.querySelector("#LOGINBUTTON");
    let HEADERSIDEMENULOGIN = document.querySelector("#HEADERSIDEMENULOGIN")
    loginButton.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/" + "login";
    });
    HEADERSIDEMENULOGIN.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/" + "login";
    });

    let profilePicture = document.querySelector("#PROFILEIMAGE");
    let HEADERSIDEMENUPROFILE = document.querySelector("#HEADERSIDEMENUPROFILE")
    let HEADERSIDEMENULOGOUT = document.querySelector("#HEADERSIDEMENULOGOUT")
    const TOKEN = getCookie("TOKEN");
    if (TOKEN) {
        profilePicture.style.display = "inline";
        HEADERSIDEMENUPROFILE.style.display = "flex";
        HEADERSIDEMENULOGOUT.style.display = "flex";
    } else {
        loginButton.style.display = "flex";
        HEADERSIDEMENULOGIN.style.display = "flex";
    }

    let HEADERLOGO = document.querySelector(".HEADERLOGO");
    HEADERLOGO.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code;
    });

    let DROPDOWNMENUSMALLSCREEN = document.querySelector(".DROPDOWNMENUSMALLSCREEN")
    let HEADERSIDEMENU = document.querySelector(".HEADERSIDEMENU");
    DROPDOWNMENUSMALLSCREEN.addEventListener("click", (event) => {
        HEADERSIDEMENU.classList.add("HEADERSIDEMENUOPENED");
        document.querySelector(".HEADERSIDEMENUCONTENT").style.display = "block";
    })
    let HEADERSIDEMENUCLOSE = document.querySelector(".HEADERSIDEMENUCLOSE")
    HEADERSIDEMENUCLOSE.addEventListener("click", (event) => {
        HEADERSIDEMENU.classList.remove("HEADERSIDEMENUOPENED");
        document.querySelector(".HEADERSIDEMENUCONTENT").style.display = "none";
    })

    let exercisesHtml = document.querySelector(".HEADEREXERCISESHTMLBUTTON");
    let HEADERSIDEMENUEXERCISESHTML = document.querySelector("#HEADERSIDEMENUEXERCISESHTML");
    HEADERSIDEMENUEXERCISESHTML.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/exercises/HTML";
    });
    exercisesHtml.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/exercises/HTML";
    });

    let exercisesCss = document.querySelector(".HEADEREXERCISESCSSBUTTON");
    let HEADERSIDEMENUEXERCISESCSS = document.querySelector("#HEADERSIDEMENUEXERCISESCSS");
    HEADERSIDEMENUEXERCISESCSS.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/exercises/CSS";
    });
    exercisesCss.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/exercises/CSS";
    });

    let exercisesJs = document.querySelector(".HEADEREXERCISESJSBUTTON");
    let HEADERSIDEMENUEXERCISESJS = document.querySelector("#HEADERSIDEMENUEXERCISESJS");
    HEADERSIDEMENUEXERCISESJS.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/exercises/JS";
    });
    exercisesJs.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/exercises/JS";
    });

    let tutorialsHtml = document.querySelector(".HEADERTUTORIALSHTMLBUTTON");
    let HEADERSIDEMENUTUTORIALSHTML = document.querySelector("#HEADERSIDEMENUTUTORIALSHTML");
    HEADERSIDEMENUTUTORIALSHTML.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/tutorials/HTML";
    });
    tutorialsHtml.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/tutorials/HTML";
    });

    let tutorialsCss = document.querySelector(".HEADERTUTORIALSCSSBUTTON");
    let HEADERSIDEMENUTUTORIALSCSS = document.querySelector("#HEADERSIDEMENUTUTORIALSCSS");
    HEADERSIDEMENUTUTORIALSCSS.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/tutorials/CSS";
    });
    tutorialsCss.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/tutorials/CSS";
    });

    let tutorialsJs = document.querySelector(".HEADERTUTORIALSJSBUTTON");
    let HEADERSIDEMENUTUTORIALSJS = document.querySelector("#HEADERSIDEMENUTUTORIALSJS");
    HEADERSIDEMENUTUTORIALSJS.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/tutorials/JS";
    });
    tutorialsJs.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/tutorials/JS";
    });

    let profileImage = document.querySelector("#PROFILEIMAGE");
    profileImage.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/profile";
    });
    HEADERSIDEMENUPROFILE.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/profile";
    });

    let profileButton = document.querySelector("#PROFILEBUTTON");
    profileButton.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/profile";
    });

    let logoutButton = document.querySelector("#LOGOUTBUTTON");
    logoutButton.addEventListener("click", (event) => {
        deleteCookie("TOKEN");
        window.location.href = "/" + lang_code;
    });
    HEADERSIDEMENULOGOUT.addEventListener("click", (event) => {
        deleteCookie("TOKEN");
        window.location.href = "/" + lang_code;
    });

    let codeEditorButton = document.querySelector(".HEADERCODEEDITORBUTTON");
    let HEADERSIDEMENUCODEEDITOR = document.querySelector("#HEADERSIDEMENUCODEEDITOR")
    HEADERSIDEMENUCODEEDITOR.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/codeeditor";
    });
    codeEditorButton.addEventListener("click", (event) => {
        window.location.href = "/" + lang_code + "/codeeditor";
    });
</script>