<style>
    .CHAPTER {
        padding: 10px 10px 0 10px;
        color: #684444;
        background-color: #fff0cc;
        font-size: 14px;
        font-family: "Arial";
        font-weight: bold;
    }

    .SIDEMENUBUTTON:hover {
        background-color: #fee9b6;
    }

    .SIDEMENU {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        background-color: #fff0cc;
    }

    .SIDEMENUBUTTON {
        padding: 10px;
        color: #445368;
        background-color: #fff0cc;
        font-size: 14px;
        font-family: "Arial";
        font-weight: bold;
        user-select: none;
        cursor: pointer;
    }

    .SIDEMENUOPENBUTTON {
        display: none;
    }

    .SIDEMENUCLOSE {
        display: none;
        position: relative;
        top: 0;
        right: 0;
        font-size: 100%;
        user-select: none;
        padding: 5%;
        font-family: "Arial";
        font-weight: bold;
        color: #445368;
        cursor: pointer;
        width: fit-content;
    }

    :dir(rtl) {
        .SIDEMENUCLOSE {
            transform: rotate(180deg);
        }
    }

    @media (max-width: 1100px) {
        .SIDEMENUCLOSE {
            display: block;
            position: sticky;
        }

        .SIDEMENU {
            width: fit-content;
            display: none;
            position: absolute;
            bottom: 0;
            top: 0;
            background-color: #fff0cc;
            z-index: 2;
        }

        .PAGE {
            display: block;
        }

        :dir(ltr) {
            .SIDEMENUOPENBUTTON {
                position: absolute;
                top: 85px;
                left: 5px;
                display: block;
                cursor: pointer;
                width: fit-content;
            }

            .SIDEMENUOPENED {
                display: block;
                right: 50%;
            }

            .SIDEMENU {
                left: 0;
                right: auto;
            }
        }

        :dir(rtl) {
            .SIDEMENUOPENBUTTON {
                position: absolute;
                top: 85px;
                right: 5px;
                display: block;
                cursor: pointer;
                width: fit-content;
                transform: rotate(180deg);
            }

            .SIDEMENUOPENED {
                display: block;
                left: 50%;
            }

            .SIDEMENU {
                right: 0;
                left: auto;
            }
        }
    }
</style>

<div class="SIDEMENUOPENBUTTON">
    <svg width="30px" height="30px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 6L8 2L10 2L16 8L10 14L8 14L8 10L-1.74845e-07 10L-3.01991e-07 6L8 6Z" fill="#684444" />
    </svg>
</div>

<div class="SIDEMENU">
    <div class="SIDEMENUCLOSE">
        <svg width="30px" height="30px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 10L8 14L6 14L-2.62268e-07 8L6 2L8 2L8 6L16 6L16 10L8 10Z" fill="#684444" />
        </svg>
    </div>
    <div class="CHAPTER"><%= t('jsTutorials.chapter1.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-1"> <%= t('jsTutorials.chapter1.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/environments';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-2"> <%= t('jsTutorials.chapter1.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/setup';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-3"> <%= t('jsTutorials.chapter1.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/console';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-4"> <%= t('jsTutorials.chapter1.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter2.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/variables';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-5"> <%= t('jsTutorials.chapter2.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/primitive_types';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-6"> <%= t('jsTutorials.chapter2.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/objects_arrays';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-7"> <%= t('jsTutorials.chapter2.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/type_coercion';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-8"> <%= t('jsTutorials.chapter2.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter3.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/operators';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-9"> <%= t('jsTutorials.chapter3.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/assignment_spread';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-10"> <%= t('jsTutorials.chapter3.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/precedence';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-11"> <%= t('jsTutorials.chapter3.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/truthy_falsy';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-12"> <%= t('jsTutorials.chapter3.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter4.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/conditionals';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-13"> <%= t('jsTutorials.chapter4.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/ternary';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-14"> <%= t('jsTutorials.chapter4.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/loops';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-15"> <%= t('jsTutorials.chapter4.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/break_continue';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-16"> <%= t('jsTutorials.chapter4.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter5.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/functions';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-17"> <%= t('jsTutorials.chapter5.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/arrow_functions';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-18"> <%= t('jsTutorials.chapter5.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/parameters';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-19"> <%= t('jsTutorials.chapter5.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/scope_closures';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-20"> <%= t('jsTutorials.chapter5.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter6.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/object_creation';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-21"> <%= t('jsTutorials.chapter6.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/object_methods';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-22"> <%= t('jsTutorials.chapter6.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/array_methods';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-23"> <%= t('jsTutorials.chapter6.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/destructuring';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-24"> <%= t('jsTutorials.chapter6.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter7.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/dom';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-25"> <%= t('jsTutorials.chapter7.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/selecting_elements';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-26"> <%= t('jsTutorials.chapter7.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/modifying_elements';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-27"> <%= t('jsTutorials.chapter7.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/event_listeners';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-28"> <%= t('jsTutorials.chapter7.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter8.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/event_types';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-29"> <%= t('jsTutorials.chapter8.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/event_bubbling';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-30"> <%= t('jsTutorials.chapter8.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/event_delegation';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-31"> <%= t('jsTutorials.chapter8.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/event_loop';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-32"> <%= t('jsTutorials.chapter8.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter9.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/callbacks';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-33"> <%= t('jsTutorials.chapter9.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/promises';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-34"> <%= t('jsTutorials.chapter9.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/async_await';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-35"> <%= t('jsTutorials.chapter9.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/fetch_api';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-36"> <%= t('jsTutorials.chapter9.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter10.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/try_catch';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-37"> <%= t('jsTutorials.chapter10.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/custom_errors';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-38"> <%= t('jsTutorials.chapter10.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/debugging_tools';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-39"> <%= t('jsTutorials.chapter10.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/common_errors';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-40"> <%= t('jsTutorials.chapter10.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter11.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/es_modules';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-41"> <%= t('jsTutorials.chapter11.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/commonjs';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-42"> <%= t('jsTutorials.chapter11.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/bundlers';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-43"> <%= t('jsTutorials.chapter11.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/package_managers';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-44"> <%= t('jsTutorials.chapter11.page4.pageTitle') %></div>

    <div class="CHAPTER"><%= t('jsTutorials.chapter12.title') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/es6_features';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-45"> <%= t('jsTutorials.chapter12.page1.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/functional_programming';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-46"> <%= t('jsTutorials.chapter12.page2.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/code_organization';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-47"> <%= t('jsTutorials.chapter12.page3.pageTitle') %></div>
    <div onclick="window.location.href = '/<%= lang %>/tutorials/js/clean_code';" class="SIDEMENUBUTTON" id="SIDEMENUBUTTON-48"> Writing Clean Code: Linting with ESLint</div>
</div>

<script>
    let SIDEMENUOPENBUTTON = document.querySelector(".SIDEMENUOPENBUTTON");
    let SIDEMENU = document.querySelector(".SIDEMENU");
    SIDEMENUOPENBUTTON.addEventListener("click", (event) => {
        SIDEMENU.classList.add("SIDEMENUOPENED");
    })
    let SIDEMENUCLOSE = document.querySelector(".SIDEMENUCLOSE");
    SIDEMENUCLOSE.addEventListener("click", (event) => {
        SIDEMENU.classList.remove("SIDEMENUOPENED");
    })
</script>