<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter1.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/html_doctype';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter2.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/html_elements';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter2.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/metadata';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter2.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/title';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter2.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/charmeta';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter2.page5.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/html_structure';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter2.page6.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/headings';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter3.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/paragraphs';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter3.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/formating_text';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter3.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/line_break';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter3.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/horizontal_line';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter3.page5.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/comments';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter3.page6.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/links';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter4.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/int_ext_links';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter4.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/nav_bar';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter4.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/anchor_links';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter4.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/blank_target';" class="LISTBUTTON"> <%= t('htmlTutorials.chaper4.page5.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/ul_li';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter5.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/ol_li';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter5.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/dl_dt_dd';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter5.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/nesting_lists';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter5.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/images';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter6.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/images_attr';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter6.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/video';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter6.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/audio';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter6.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/iframe';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter6.page5.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/tables';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter7.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/table_rows';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter7.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/table_heading';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter7.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/table_data';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter7.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/table_attr';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter7.page5.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/table_caption';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter7.page6.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/form';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter8.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/form_input_types';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter8.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/form_elements';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter8.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/for_submission';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter8.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/form_placeholder';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter8.page5.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/form_validation';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter8.page6.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/semantic_html';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter9.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/semantic_elements';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter9.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/non_semantic_html';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter9.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/quoting';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter9.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/semantic_html5';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter10.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/canvas';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter10.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/inputs';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter10.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/storage';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter10.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/entities';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter11.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/common_entities';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter11.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/special_entities';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter11.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/utf8';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter11.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/seo_heading';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter12.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/linking';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter12.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/html_validator';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter13.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/html_errors';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter13.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/inspect';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter13.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/HTML/browser_compatibility';" class="LISTBUTTON"> <%= t('htmlTutorials.chapter13.page4.pageTitle') %></div>

<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS';" class="LISTBUTTON"> <%= t('cssTutorials.chapter1.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/css_use';" class="LISTBUTTON"> <%= t('cssTutorials.chapter1.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/css_apply';" class="LISTBUTTON"> <%= t('cssTutorials.chapter1.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/syntax';" class="LISTBUTTON"> <%= t('cssTutorials.chapter1.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/basic_selectors';" class="LISTBUTTON"> <%= t('cssTutorials.chapter2.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/grouping_selectors';" class="LISTBUTTON"> <%= t('cssTutorials.chapter2.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/attr_selectors';" class="LISTBUTTON"> <%= t('cssTutorials.chapter2.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/colors';" class="LISTBUTTON"> <%= t('cssTutorials.chapter2.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/font';" class="LISTBUTTON"> <%= t('cssTutorials.chapter3.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/text';" class="LISTBUTTON"> <%= t('cssTutorials.chapter3.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/line_height';" class="LISTBUTTON"> <%= t('cssTutorials.chapter3.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/google_fonts';" class="LISTBUTTON"> <%= t('cssTutorials.chapter3.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/box_model';" class="LISTBUTTON"> <%= t('cssTutorials.chapter4.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/box_sizing';" class="LISTBUTTON"> <%= t('cssTutorials.chapter4.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/outline_borders';" class="LISTBUTTON"> <%= t('cssTutorials.chapter4.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/background';" class="LISTBUTTON"> <%= t('cssTutorials.chapter5.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/background_properties';" class="LISTBUTTON"> <%= t('cssTutorials.chapter5.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/gradients';" class="LISTBUTTON"> <%= t('cssTutorials.chapter5.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/border_style';" class="LISTBUTTON"> <%= t('cssTutorials.chapter5.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/display';" class="LISTBUTTON"> <%= t('cssTutorials.chapter6.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/visibility';" class="LISTBUTTON"> <%= t('cssTutorials.chapter6.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/positioning';" class="LISTBUTTON"> <%= t('cssTutorials.chapter6.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/z_index';" class="LISTBUTTON"> <%= t('cssTutorials.chapter6.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/flexbox';" class="LISTBUTTON"> <%= t('cssTutorials.chapter7.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/flex_container';" class="LISTBUTTON"> <%= t('cssTutorials.chapter7.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/aligning';" class="LISTBUTTON"> <%= t('cssTutorials.chapter7.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/wrap';" class="LISTBUTTON"> <%= t('cssTutorials.chapter7.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/grid';" class="LISTBUTTON"> <%= t('cssTutorials.chapter8.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/grid_layout';" class="LISTBUTTON"> <%= t('cssTutorials.chapter8.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/grid_areas';" class="LISTBUTTON"> <%= t('cssTutorials.chapter8.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/grid_alignment';" class="LISTBUTTON"> <%= t('cssTutorials.chapter8.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/media_queries';" class="LISTBUTTON"> <%= t('cssTutorials.chapter9.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/mobile_first_approach';" class="LISTBUTTON"> <%= t('cssTutorials.chapter9.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/viewport';" class="LISTBUTTON"> <%= t('cssTutorials.chapter9.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/responsive_images';" class="LISTBUTTON"> <%= t('cssTutorials.chapter9.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/transition';" class="LISTBUTTON"> <%= t('cssTutorials.chapter10.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/2d_transforms';" class="LISTBUTTON"> <%= t('cssTutorials.chapter10.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/animations_keyframes';" class="LISTBUTTON"> <%= t('cssTutorials.chapter10.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/combining_animations';" class="LISTBUTTON"> <%= t('cssTutorials.chapter10.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/pseudo_classes';" class="LISTBUTTON"> <%= t('cssTutorials.chapter11.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/pseudo_elements';" class="LISTBUTTON"> <%= t('cssTutorials.chapter11.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/variables';" class="LISTBUTTON"> <%= t('cssTutorials.chapter12.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/calculations';" class="LISTBUTTON"> <%= t('cssTutorials.chapter12.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/logical_properties';" class="LISTBUTTON"> <%= t('cssTutorials.chapter12.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/CSS/bem_naming';" class="LISTBUTTON"> <%= t('cssTutorials.chapter12.page4.pageTitle') %></div>

<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript';" class="LISTBUTTON"> <%= t('jsTutorials.chapter1.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/environments';" class="LISTBUTTON"> <%= t('jsTutorials.chapter1.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/setup';" class="LISTBUTTON"> <%= t('jsTutorials.chapter1.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/console';" class="LISTBUTTON"> <%= t('jsTutorials.chapter1.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/variables';" class="LISTBUTTON"> <%= t('jsTutorials.chapter2.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/primitive_types';" class="LISTBUTTON"> <%= t('jsTutorials.chapter2.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/objects_arrays';" class="LISTBUTTON"> <%= t('jsTutorials.chapter2.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/type_coercion';" class="LISTBUTTON"> <%= t('jsTutorials.chapter2.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/operators';" class="LISTBUTTON"> <%= t('jsTutorials.chapter3.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/assignment_spread';" class="LISTBUTTON"> <%= t('jsTutorials.chapter3.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/precedence';" class="LISTBUTTON"> <%= t('jsTutorials.chapter3.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/truthy_falsy';" class="LISTBUTTON"> <%= t('jsTutorials.chapter3.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/conditionals';" class="LISTBUTTON"> <%= t('jsTutorials.chapter4.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/ternary';" class="LISTBUTTON"> <%= t('jsTutorials.chapter4.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/loops';" class="LISTBUTTON"> <%= t('jsTutorials.chapter4.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/break_continue';" class="LISTBUTTON"> <%= t('jsTutorials.chapter4.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/functions';" class="LISTBUTTON"> <%= t('jsTutorials.chapter5.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/arrow_functions';" class="LISTBUTTON"> <%= t('jsTutorials.chapter5.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/parameters';" class="LISTBUTTON"> <%= t('jsTutorials.chapter5.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/scope_closures';" class="LISTBUTTON"> <%= t('jsTutorials.chapter5.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/object_creation';" class="LISTBUTTON"> <%= t('jsTutorials.chapter6.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/object_methods';" class="LISTBUTTON"> <%= t('jsTutorials.chapter6.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/array_methods';" class="LISTBUTTON"> <%= t('jsTutorials.chapter6.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/destructuring';" class="LISTBUTTON"> <%= t('jsTutorials.chapter6.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/dom';" class="LISTBUTTON"> <%= t('jsTutorials.chapter7.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/selecting_elements';" class="LISTBUTTON"> <%= t('jsTutorials.chapter7.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/modifying_elements';" class="LISTBUTTON"> <%= t('jsTutorials.chapter7.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/event_listeners';" class="LISTBUTTON"> <%= t('jsTutorials.chapter7.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/event_types';" class="LISTBUTTON"> <%= t('jsTutorials.chapter8.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/event_bubbling';" class="LISTBUTTON"> <%= t('jsTutorials.chapter8.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/event_delegation';" class="LISTBUTTON"> <%= t('jsTutorials.chapter8.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/event_loop';" class="LISTBUTTON"> <%= t('jsTutorials.chapter8.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/callbacks';" class="LISTBUTTON"> <%= t('jsTutorials.chapter9.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/promises';" class="LISTBUTTON"> <%= t('jsTutorials.chapter9.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/async_await';" class="LISTBUTTON"> <%= t('jsTutorials.chapter9.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/fetch_api';" class="LISTBUTTON"> <%= t('jsTutorials.chapter9.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/try_catch';" class="LISTBUTTON"> <%= t('jsTutorials.chapter10.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/custom_errors';" class="LISTBUTTON"> <%= t('jsTutorials.chapter10.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/debugging_tools';" class="LISTBUTTON"> <%= t('jsTutorials.chapter10.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/common_errors';" class="LISTBUTTON"> <%= t('jsTutorials.chapter10.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/es_modules';" class="LISTBUTTON"> <%= t('jsTutorials.chapter11.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/commonjs';" class="LISTBUTTON"> <%= t('jsTutorials.chapter11.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/bundlers';" class="LISTBUTTON"> <%= t('jsTutorials.chapter11.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/package_managers';" class="LISTBUTTON"> <%= t('jsTutorials.chapter11.page4.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/es6_features';" class="LISTBUTTON"> <%= t('jsTutorials.chapter12.page1.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/functional_programming';" class="LISTBUTTON"> <%= t('jsTutorials.chapter12.page2.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/code_organization';" class="LISTBUTTON"> <%= t('jsTutorials.chapter12.page3.pageTitle') %></div>
<div onclick="window.location.href = '/<%= lang %>/tutorials/JavaScript/clean_code';" class="LISTBUTTON"> <%= t('jsTutorials.chapter12.page4.pageTitle') %></div>