<!DOCTYPE html>
<html dir="<%= t('direction') %>" lang="<%= lang %>">

<head>
    <%- include('components/metadata_info')%>
        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                overflow-x: hidden;
                margin: 0%;
            }

            .CONTAINER {
                width: 100%;
            }

            #SEARCHCONTAINER {
                height: 550px;
                background-color: #ef9d6e;
                background-image: url("https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/1e4e4bd65bfed1479c5e272f2a43b8da9f849aa7/background_pattern.svg");
            }

            #HTMLCONTAINER {
                height: 550px;
                background-color: #9c4646;
                background-image: url("https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/1e4e4bd65bfed1479c5e272f2a43b8da9f849aa7/background_pattern2.svg");
            }

            #CSSCONTAINER {
                height: 550px;
                background-color: #68893f;
                background-image: url("https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/8d589ea4970b81e7236edf9053027f49875c0507/background_pattern3.svg");
            }

            #JSCONTAINER {
                height: 550px;
                background-color: #347575;
                background-image: url("https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/db559ec255583d14d4ec9a309c08d5f489351a83/background_pattern4.svg");
            }

            .CENTER {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .DISCOVERCONTAINER {
                display: flex;
                flex-flow: column;
                align-items: center;
                gap: 10px;
            }

            .SPLITCONTAINER {
                display: grid;
                grid-template-columns: 50% 50%;
                height: 100%;
            }

            .CONTAINERSMALLTEXT {
                color: white;
                font-size: 100%;
                user-select: none;
                font-family: "Arial";
                padding: 30px;
            }

            .CONTAINERTEXT {
                text-align: center;
                font-size: 85px;
                font-family: "Arial";
                font-weight: bold;
                user-select: none;
                color: white;
                text-shadow: 0px 5px #445368;
            }

            @media (max-width: 1000px) {
                .CONTAINERSMALLTEXT {
                    display: none;
                }

                #HTMLSPLITCONTAINER,
                #JSSPLITCONTAINER {
                    grid-template-columns: 100% 0%;
                }

                #CSSSPLITCONTAINER {
                    grid-template-columns: 0% 100%;
                }
            }

            @media (max-width: 500px) {
                .CONTAINERTEXT {
                    font-size: 2rem;
                }

                .CONTAINER {
                    height: auto;
                }
            }

            .PAGE {
                height: calc(100% - 80px);
                /*100% - header*/
                width: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .SEARCH {
                margin: 10px;
                border-radius: 500px;
                border: none;
                width: 100%;
                font-size: 20px;
                padding: 5%;
            }

            .SEARCH:enabled {
                outline: none;
            }
        </style>
        <title>
            HTMLtoHero
        </title>
</head>

<body>

    <%- include('components/header') %>

        <div class="PAGE">
            <div class="CONTAINER" id="SEARCHCONTAINER">
                <div class="CENTER">
                    <div class="DISCOVERCONTAINER">
                        <span class="CONTAINERTEXT">
                            <%= t('mainpage.discovercontainer.discover') %>
                        </span>
                        <input class="SEARCH" type="search" placeholder="<%= t('mainpage.discovercontainer.search') %>">
                    </div>
                </div>
            </div>

            <div class="CONTAINER" id="HTMLCONTAINER">
                <div class="SPLITCONTAINER" id="HTMLSPLITCONTAINER">
                    <div class="CENTER">
                        <span class="CONTAINERTEXT">
                            <%= t('mainpage.htmlcontainer.html') %>
                        </span>
                    </div>
                    <div class="CENTER" id="CONTAINERCENTER">
                        <div class="CONTAINERSMALLTEXT">
                            <%= t('mainpage.htmlcontainer.description') %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="CONTAINER" id="CSSCONTAINER">
                <div class="SPLITCONTAINER" id="CSSSPLITCONTAINER">
                    <div class="CENTER" id="CONTAINERCENTER">
                        <div class="CONTAINERSMALLTEXT">
                            <%= t('mainpage.csscontainer.description') %>
                        </div>
                    </div>
                    <div class="CENTER">
                        <span class="CONTAINERTEXT">
                            <%= t('mainpage.csscontainer.css') %>
                        </span>
                    </div>
                </div>
            </div>

            <div class="CONTAINER" id="JSCONTAINER">
                <div class="SPLITCONTAINER" id="JSSPLITCONTAINER">
                    <div class="CENTER">
                        <span class="CONTAINERTEXT" id="JSCONTAINERTEXT">
                            <%= t('mainpage.jscontainer.js') %>
                        </span>
                    </div>
                    <div class="CENTER" id="CONTAINERCENTER">
                        <div class="CONTAINERSMALLTEXT">
                            <%= t('mainpage.jscontainer.description') %>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('components/footer') %>
        </div>

        <script>

            function getCookie(name) {
                // Construct the cookie name as a search pattern
                const cookiePattern = `${name}=`;
                const cookies = document.cookie.split('; '); // Split cookies into individual parts

                for (let cookie of cookies) {
                    if (cookie.startsWith(cookiePattern)) {
                        // Extract the cookie value
                        return decodeURIComponent(cookie.substring(cookiePattern.length));
                    }
                }

                // Return null if cookie is not found
                return null;
            }

            function deleteCookie(cookieName) {
                document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
            }

            let SEARCH = document.querySelector(".SEARCH")
            SEARCH.addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    if (event.target.value.length > 0) {
                        window.location.href = "/" + lang_code + "/" + "search/" + event.target.value;
                    }
                }
            });

        </script>
</body>

</html>