<!DOCTYPE html>
<html dir="<%= t('direction') %>" lang="<%= lang %>">

<head>
    <%- include('components/metadata_info')%>
        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                overflow-x: hidden;
                margin: 0%;
            }

            .LOGINCONTAINER {
                width: auto;
                padding: 30px;
                background-color: #e3a4a6;
            }

            .LOGINCONTAINERCONTENT {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5px;
            }

            .CENTER {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .PAGE {
                width: 100%;
                height: calc(100% - 80px);
                /* 100% - header */
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .LOGININPUT {
                padding: 5px;
                border: none;
                width: 100%;
                height: 30px;
            }

            .LOGININPUT:enabled {
                outline: none;
            }

            .LOGINBUTTON {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                color: #445368;
                /*background-color: #F48FB1;*/
                background-color: #FAD473;
                font-size: 24px;
                font-family: "Arial";
                font-weight: bold;
                user-select: none;
                height: 30px;
                /*80 - 2*padding */
                width: 100%;
            }

            .LOGININPUT_ERROR {
                border: 1px solid red;
            }

            .LOGINBUTTON:hover {
                background-color: #ef9d6e;
                cursor: pointer;
            }

            .CREATEACCOUNTBUTTON {
                color: grey;
                font-family: "Arial";
                user-select: none;
                font-size: 14px;
                cursor: pointer;
            }

            .CREATEACCOUNTBUTTON:hover {
                color: white;
            }

            .LOGININPUTDIV {
                display: flex;
                width: 100%;
                background-color: white;
            }

            .LOGININPUTBIGDIV {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .LOGININPUTERROR {
                color: red;
                font-family: "Arial";
                padding: 1px;
                font-size: 75%;
                display: flex;
                align-items: center;
            }

            @media (max-width: 500px) {
                .LOGINCONTAINER {
                    width: 100%;
                    height: 100%;
                    background-color: #e3a4a6;
                    margin: 0;
                }

                .LOGINBUTTON {
                    font-size: 100%;
                }
            }
        </style>
</head>

<body>

    <%- include('components/header') %>

        <div class="PAGE">
            <div class="CENTER">
                <div class="LOGINCONTAINER">
                    <div class="LOGINCONTAINERCONTENT">
                        <img src="https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/1e4e4bd65bfed1479c5e272f2a43b8da9f849aa7/html2hero.svg"
                            height="150px" style="margin-bottom: 35px;">
                        <div class="LOGININPUTBIGDIV">
                            <span class="LOGININPUTERROR" id="emailInputError"></span>
                            <div class="LOGININPUTDIV" id="EMAILINPUT">
                                <input class="LOGININPUT" id="emailInput" type="email"
                                    placeholder="<%= t('loginPage.email') %>">
                            </div>
                        </div>
                        <div class="LOGININPUTBIGDIV">
                            <span class="LOGININPUTERROR" id="passwordInputError"></span>
                            <div class="LOGININPUTDIV" id="PASSWORDINPUT_">
                                <input class="LOGININPUT" id="passwordInput" type="password"
                                    placeholder="<%= t('loginPage.password') %>">
                                <input type="checkbox" id="SHOWPASSWORDCHECK">
                            </div>
                        </div>
                        <div class="LOGININPUTDIV" style="background-color: #FAD473;">
                            <div class="LOGINBUTTON">
                                <%= t('loginPage.loginButton') %>
                            </div>
                        </div>
                        <a class="CREATEACCOUNTBUTTON">
                            <%= t('loginPage.createNewAccount') %>
                        </a>
                    </div>
                </div>
            </div>

            <%- include('components/footer') %>

        </div>

        <script>

            function getCookie(name) {
                // Construct the cookie name as a search pattern
                const cookiePattern = `${name}=`;
                const cookies = document.cookie.split('; '); // Split cookies into individual parts

                for (let cookie of cookies) {
                    if (cookie.startsWith(cookiePattern)) {
                        // Extract the cookie value
                        return decodeURIComponent(cookie.substring(cookiePattern.length));
                    }
                }

                // Return null if cookie is not found
                return null;
            }

            function deleteCookie(cookieName) {
                document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
            }

            let EMAILINPUT = document.querySelector("#EMAILINPUT");
            let EMAILINPUTERROR = document.querySelector("#emailInputError");
            let PASSWORDINPUT_ = document.querySelector("#PASSWORDINPUT_");
            let PASSWORDINPUT2 = document.querySelector("#passwordInput")
            let PASSWORDINPUTERROR = document.querySelector("#passwordInputError");

            EMAILINPUT.addEventListener("click", (event) => {
                EMAILINPUT.classList.remove("LOGININPUT_ERROR");
                EMAILINPUTERROR.innerHTML = "";
            });
            PASSWORDINPUT2.addEventListener("click", (event) => {
                PASSWORDINPUT_.classList.remove("LOGININPUT_ERROR");
                PASSWORDINPUTERROR.innerHTML = "";
            });
            PASSWORDINPUT_.addEventListener("click", (event) => {
                PASSWORDINPUT_.classList.remove("LOGININPUT_ERROR");
                PASSWORDINPUTERROR.innerHTML = "";
            });

            function EMAILINPUTERRORFUNC(err) {
                EMAILINPUT.classList.add("LOGININPUT_ERROR");
                EMAILINPUTERROR.innerHTML = err;
            }
            function PASSWORDINPUTERRORFUNC(err) {
                PASSWORDINPUT_.classList.add("LOGININPUT_ERROR");
                PASSWORDINPUTERROR.innerHTML = err;
            }

            async function logIn(email, password) {
                const response = await fetch("/api/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        email: email,
                        password: password,
                    })
                });
                const data = await response.json();
                const error = data.errorName;
                const scc = data.success;
                if (scc === true) {
                    return true;
                } else {
                    return error;
                }
            }

            let LoginButton = document.querySelector(".LOGINBUTTON");
            LoginButton.addEventListener("click", (event) => {
                const email = document.querySelector("#emailInput").value;
                const password = document.querySelector("#passwordInput").value;

                if (email.length <= 0) {
                    EMAILINPUTERRORFUNC("<%= t('loginPage.emptyEmailError') %>");
                    return;
                }
                if (password.length <= 0) {
                    PASSWORDINPUTERRORFUNC("<%= t('loginPage.emptyPasswordError') %>");
                    return;
                }

                logIn(email, password).then(result => {
                    if (result === true) {
                        window.location.href = "/" + lang_code + "/profile";
                    } else if (result === "invalidEmail") {
                        EMAILINPUTERRORFUNC("<%= t('loginPage.invalidEmailError') %>");
                    } else if (result === "invalidPassword") {
                        PASSWORDINPUTERRORFUNC("<%= t('loginPage.invalidPasswordError') %>");
                    }
                });
            });

            CREATEACCOUNTBUTTON = document.querySelector(".CREATEACCOUNTBUTTON")
            CREATEACCOUNTBUTTON.addEventListener("click", function (event) {
                window.location.href = "/" + lang_code + "/register";
            });

            SHOWPASSWORDCHECK = document.querySelector("#SHOWPASSWORDCHECK");
            PASSWORDINPUT = document.querySelector("#passwordInput");
            SHOWPASSWORDCHECK.addEventListener("change", (event) => {
                if (event.target.checked === true) {
                    PASSWORDINPUT.type = "text";
                } else if (event.target.checked === false || event.target.checked === undefined) {
                    PASSWORDINPUT.type = "password";
                }
            })

        </script>
</body>

</html>