<!DOCTYPE html>
<html dir="<%= t('direction') %>" lang="<%= lang %>">

<head>
    <%- include('components/metadata_info')%>
        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                overflow-x: hidden;
                margin: 0%;
            }

            .REGISTERCONTAINER {
                width: auto;
                padding: 30px;
                background-color: #e3a4a6;
            }

            .REGISTERCONTAINERCONTENT {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 5px;
            }

            .CENTER {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .PAGE {
                width: 100%;
                height: calc(100% - 80px);
                /* 100% - header */
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .REGISTERINPUT {
                padding: 5px;
                border: none;
                width: 100%;
                height: 30px;
            }

            .REGISTERINPUT:enabled {
                outline: none;
            }

            .REGISTERBUTTON {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                color: #445368;
                background-color: #FAD473;
                font-size: 24px;
                font-family: "Arial";
                font-weight: bold;
                user-select: none;
                height: 30px;
                width: 100%;
            }

            .REGISTERINPUT_ERROR {
                border: 1px solid red;
            }

            .REGISTERBUTTON:hover {
                background-color: #ef9d6e;
                cursor: pointer;
            }

            .CREATEACCOUNTBUTTON {
                color: grey;
                font-family: "Arial";
                user-select: none;
                font-size: 14px;
                cursor: pointer;
            }

            .CREATEACCOUNTBUTTON:hover {
                color: white;
            }

            .REGISTERINPUTDIV {
                display: flex;
                width: 100%;
                background-color: white;
            }

            .REGISTERINPUTBIGDIV {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .REGISTERINPUTERROR {
                color: red;
                font-family: "Arial";
                padding: 1px;
                font-size: 75%;
                display: flex;
                align-items: center;
            }

            .BIRTHDAYLABEL {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #757575;
                padding: 5px;
                user-select: none;
            }

            @media (max-width: 500px) {
                .REGISTERCONTAINER {
                    width: 100%;
                    height: 100%;
                    background-color: #e3a4a6;
                    margin: 0;
                }

                .REGISTERBUTTON {
                    font-size: 100%;
                }
            }

            /* Header styles copied from login page to fix .HEADERSIDEMENUCLOSE */
            .HEADER {
                width: 100%;
                height: 80px;
                background-color: #FAD473;
                display: flex;
                justify-content: space-between;
            }

            .HEADERLOGO {
                padding: 10px;
                height: 60px;
                width: 60px;
            }

            .MENUBUTTONSMALLSCREEN {
                padding: 10px;
                height: 60px;
                width: 60px;
            }

            .DROPDOWNMENU,
            .DROPDOWNMENUSMALLSCREEN {
                z-index: 1;
                position: relative;
            }

            .DROPDOWNMENUSMALLSCREEN {
                display: none;
                cursor: pointer;
            }

            .DROPDOWNMENU:hover .DROPDOWNMENUCONTENT {
                display: block;
            }

            .MENUBUTTON {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 25px;
                color: #445368;
                background-color: #FAD473;
                font-size: 1.5rem;
                font-family: "Arial";
                font-weight: bold;
                user-select: none;
                height: 30px;
            }

            .MENUBUTTON:hover {
                background-color: #ef9d6e;
                cursor: pointer;
            }

            .DROPDOWNMENUCONTENT {
                display: none;
                position: absolute;
                right: 0;
                background-color: #FAD473;
            }

            .HEADERHALF,
            .HEADERSECONDHALF {
                width: auto;
                height: 100%;
                display: flex;
                gap: 10px;
            }

            .HEADERSECONDHALF {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }

            .HEADERSEARCH {
                margin: 10px;
                border-radius: 500px;
                border: none;
                width: 250px;
                font-size: 20px;
            }

            .HEADERSEARCH:enabled {
                outline: none;
            }

            .LANGSELECT {
                height: 50px;
                user-select: none;
                cursor: pointer;
                border: none;
            }

            #LOGINBUTTON,
            #PROFILEIMAGE {
                display: none;
            }

            #PROFILEIMAGE {
                padding: 10px;
                width: 55px;
                height: 55px;
            }

            #PROFILEIMAGE:hover {
                background-color: #FAD473;
            }

            #HOMEBUTTON:hover #HOMEBUTTONSVG {
                fill: #ef9d6e;
                cursor: pointer;
            }

            #PROFILEIMAGE:hover #PROFILEIMAGESVG {
                fill: #ef9d6e;
            }

            .HEADERSIDEMENU {
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                left: 100%;
                background-color: #fff0cc;
                z-index: 2;
                transition: left 0.5s;
            }

            .HEADERSIDEMENUCONTENT {
                display: none;
            }

            .HEADERSIDEMENUOPENED {
                left: 50%;
            }

            @media (min-width: 1100px) {
                .HEADERSIDEMENUOPENED {
                    left: 100%;
                }
            }

            @media (max-width: 1100px) {

                .MENUBUTTON,
                .HEADERSEARCH,
                .LANGSELECT,
                .DROPDOWNMENU,
                #LOGINBUTTONDIV {
                    display: none;
                }

                .DROPDOWNMENUSMALLSCREEN {
                    display: block;
                }
            }

            @media (max-width: 500px) {
                .HEADERSIDEMENUOPENED {
                    left: 0;
                }
            }

            .CODEPAGE {
                position: fixed;
                inset: 0;
                /* shorthand for top, right, bottom, left = 0 */
                /*display: flex;*/
                display: none;
                justify-content: center;
                align-items: center;
                background: rgba(249, 249, 249, 0.5);
                z-index: 1000;
                font-family: "Arial";
            }

            .CODECONTAINER {
                border: 1px solid #ccc;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                padding: 20px 30px;
                width: 90%;
                max-width: 400px;
                border-radius: 12px;
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
            }

            .CODETEXT {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .CODEINPUT:focus {
                border-color: #007BFF;
            }

            .CODECLOSE {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 25px;
                font-weight: bold;
                cursor: pointer;
                user-select: none;
            }

            .CODECLOSE:hover {
                color: #445368;
            }

            .CODEBUTTON {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 10px;
                color: #445368;
                border-radius: 10px;
                background-color: #FAD473;
                font-size: 1rem;
                font-family: "Arial";
                font-weight: bold;
                user-select: none;
                height: 30px;
            }

            .CODEBUTTON:hover {
                background-color: #ef9d6e;
                cursor: pointer;
            }
        </style>
        <title>
            HTMLtoHero
        </title>
</head>

<body>
    <%- include('components/header') %>

        <div class="CODEPAGE">
            <div class="CODECLOSE">X</div>
            <div class="CODECONTAINER">
                <div class="REGISTERINPUTBIGDIV" id="CODEINPUTDIV">
                    <span class="REGISTERINPUTERROR" id="codeInputError"></span>
                    <div class="REGISTERINPUTDIV">
                        <input class="REGISTERINPUT" id="CODEINPUT" type="text"
                            placeholder="<%= t('registerPage.code') %>">
                    </div>
                </div>
                <div class="CODEBUTTON"><%= t('registerPage.registerButton') %></div>
            </div>
        </div>

        <div class="PAGE">
            <div class="CENTER">
                <div class="REGISTERCONTAINER">
                    <div class="REGISTERCONTAINERCONTENT">
                        <img src="https://raw.githubusercontent.com/JineenRihawi/htmltoheroassets/1e4e4bd65bfed1479c5e272f2a43b8da9f849aa7/html2hero.svg"
                            height="150px" style="margin-bottom: 35px;">
                        <div class="REGISTERINPUTBIGDIV">
                            <span class="REGISTERINPUTERROR" id="emailInputError"></span>
                            <div class="REGISTERINPUTDIV" id="EMAILINPUT">
                                <input class="REGISTERINPUT" id="emailInput" type="email"
                                    placeholder="<%= t('registerPage.email') %>">
                            </div>
                        </div>
                        <div class="REGISTERINPUTBIGDIV">
                            <span class="REGISTERINPUTERROR" id="usernameInputError"></span>
                            <div class="REGISTERINPUTDIV" id="USERNAMEINPUT">
                                <input class="REGISTERINPUT" id="usernameInput" type="text"
                                    placeholder="<%= t('registerPage.username') %>">
                            </div>
                        </div>
                        <div class="REGISTERINPUTBIGDIV">
                            <span class="REGISTERINPUTERROR" id="password1InputError"></span>
                            <div class="REGISTERINPUTDIV" id="PASSWORDINPUT1">
                                <input class="REGISTERINPUT" id="password1Input" type="password"
                                    placeholder="<%= t('registerPage.password1') %>">
                                <input type="checkbox" id="SHOWPASSWORDCHECK1">
                            </div>
                        </div>
                        <div class="REGISTERINPUTBIGDIV">
                            <span class="REGISTERINPUTERROR" id="password2InputError"></span>
                            <div class="REGISTERINPUTDIV" id="PASSWORDINPUT2">
                                <input class="REGISTERINPUT" id="password2Input" type="password"
                                    placeholder="<%= t('registerPage.password2') %>">
                                <input type="checkbox" id="SHOWPASSWORDCHECK2">
                            </div>
                        </div>
                        <div class="REGISTERINPUTBIGDIV">
                            <span class="REGISTERINPUTERROR" id="birthdayInputError"></span>
                            <div class="REGISTERINPUTDIV" id="BIRTHDAYINPUT">
                                <label class="BIRTHDAYLABEL">
                                    <%= t('registerPage.birthday') %>
                                </label>
                                <input class="REGISTERINPUT" id="birthdayInput" type="date">
                            </div>
                        </div>
                        <div class="REGISTERINPUTDIV" style="background-color: #FAD473;">
                            <div class="REGISTERBUTTON">
                                <%= t('registerPage.registerButton') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('components/footer') %>
        </div>

        <script>
            function getCookie(name) {
                const cookiePattern = `${name}=`;
                const cookies = document.cookie.split('; ');
                for (let cookie of cookies) {
                    if (cookie.startsWith(cookiePattern)) {
                        return decodeURIComponent(cookie.substring(cookiePattern.length));
                    }
                }
                return null;
            }

            function deleteCookie(cookieName) {
                document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
            }

            const EMAILINPUTDIV = document.querySelector("#EMAILINPUT");
            const EMAILINPUTERROR = document.querySelector("#emailInputError");
            const USERNAMEINPUTDIV = document.querySelector("#USERNAMEINPUT");
            const USERNAMEINPUTERROR = document.querySelector("#usernameInputError");
            const PASSWORDINPUTDIV1 = document.querySelector("#PASSWORDINPUT1");
            const PASSWORDINPUTERROR1 = document.querySelector("#password1InputError");
            const PASSWORDINPUTDIV2 = document.querySelector("#PASSWORDINPUT2");
            const PASSWORDINPUTERROR2 = document.querySelector("#password2InputError");
            const BIRTHDAYINPUTDIV = document.querySelector("#BIRTHDAYINPUT");
            const BIRTHDAYINPUTERROR = document.querySelector("#birthdayInputError");
            const CODEINPUTERROR = document.querySelector("#codeInputError");
            const CODEINPUTDIV = document.querySelector("#CODEINPUTDIV");

            CODEINPUTDIV.addEventListener("click", (event) => {
                CODEINPUTDIV.classList.remove("REGISTERINPUT_ERROR");
                CODEINPUTERROR.innerText = "";
            });
            EMAILINPUTDIV.addEventListener("click", (event) => {
                EMAILINPUTDIV.classList.remove("REGISTERINPUT_ERROR");
                EMAILINPUTERROR.innerText = "";
            });
            USERNAMEINPUTDIV.addEventListener("click", (event) => {
                USERNAMEINPUTDIV.classList.remove("REGISTERINPUT_ERROR");
                USERNAMEINPUTERROR.innerText = "";
            });
            PASSWORDINPUTDIV1.addEventListener("click", (event) => {
                PASSWORDINPUTDIV1.classList.remove("REGISTERINPUT_ERROR");
                PASSWORDINPUTERROR1.innerText = "";
            });
            PASSWORDINPUTDIV2.addEventListener("click", (event) => {
                PASSWORDINPUTDIV2.classList.remove("REGISTERINPUT_ERROR");
                PASSWORDINPUTERROR2.innerText = "";
            });
            BIRTHDAYINPUTDIV.addEventListener("click", (event) => {
                BIRTHDAYINPUTDIV.classList.remove("REGISTERINPUT_ERROR");
                BIRTHDAYINPUTERROR.innerText = "";
            });

            function EMAILINPUTERRORFUNC(err) {
                EMAILINPUTDIV.classList.add("REGISTERINPUT_ERROR");
                EMAILINPUTERROR.innerText = err;
            }
            function USERNAMEINPUTERRORFUNC(err) {
                USERNAMEINPUTDIV.classList.add("REGISTERINPUT_ERROR");
                USERNAMEINPUTERROR.innerText = err;
            }
            function PASSWORDINPUTERRORFUNC1(err) {
                PASSWORDINPUTDIV1.classList.add("REGISTERINPUT_ERROR");
                PASSWORDINPUTERROR1.innerText = err;
            }
            function PASSWORDINPUTERRORFUNC2(err) {
                PASSWORDINPUTDIV2.classList.add("REGISTERINPUT_ERROR");
                PASSWORDINPUTERROR2.innerText = err;
            }
            function BIRTHDAYINPUTERRORFUNC(err) {
                BIRTHDAYINPUTDIV.classList.add("REGISTERINPUT_ERROR");
                BIRTHDAYINPUTERROR.innerText = err;
            }
            function CODEINPUTERRORFUNC(err) {
                CODEINPUTDIV.classList.add("REGISTERINPUT_ERROR");
                CODEINPUTERROR.innerText = err;
            }

            const EMAILINPUT = document.querySelector("#emailInput");
            const USERNAMEINPUT_ = document.querySelector("#usernameInput");
            const PASSWORDINPUT1 = document.querySelector("#password1Input");
            const PASSWORDINPUT2 = document.querySelector("#password2Input");
            const BIRTHDAYINPUT = document.querySelector("#birthdayInput");

            const CODEPAGE = document.querySelector(".CODEPAGE");
            const CODEBUTTON = document.querySelector(".CODEBUTTON");
            const CODEINPUT = document.querySelector("#CODEINPUT");

            document.querySelector(".CODECLOSE").addEventListener("click", (event) => {
                CODEPAGE.style.display = "none";
            });

            CODEBUTTON.addEventListener("click", (event) => {

                const [yearStr, monthStr, dayStr] = BIRTHDAYINPUT.value.split("-");
                const year = parseInt(yearStr);
                const month = parseInt(monthStr);
                const day = parseInt(dayStr);

                fetch("/api/registerSecondStep", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        email: EMAILINPUT.value,
                        password: PASSWORDINPUT1.value,
                        name: USERNAMEINPUT_.value,
                        birthyear: year,
                        birthmonth: month,
                        birthday: day,
                        codeinput: CODEINPUT.value
                    })
                }).then(data => data.json()).then(data => {

                    const error = data.errorName;

                    if (error === "noerror") {
                        window.location.href = "/" + lang_code + "/" + "login";
                    } else if (error === "codeExpired") {
                        CODEINPUTERRORFUNC("<%= t('registerPage.codeExpiredError') %>");
                    } else if (error === "incorrectCode") {
                        CODEINPUTERRORFUNC("<%= t('registerPage.incorrectCodeError') %>");
                    } else {
                        CODEINPUTERRORFUNC("An unexpected error occurred. Please try again.");
                    }

                });

            });

            let REGISTERBUTTON = document.querySelector(".REGISTERBUTTON");
            REGISTERBUTTON.addEventListener("click", (event) => {
                const [yearStr, monthStr, dayStr] = BIRTHDAYINPUT.value.split("-");
                const year = parseInt(yearStr);
                const month = parseInt(monthStr);
                const day = parseInt(dayStr);

                if (EMAILINPUT.value.length <= 0) {
                    EMAILINPUTERRORFUNC("<%= t('registerPage.emptyEmailError') %>");
                    return;
                }
                if (USERNAMEINPUT_.value.length <= 0) {
                    USERNAMEINPUTERRORFUNC("<%= t('registerPage.emptyUsernameError') %>");
                    return;
                }
                if (PASSWORDINPUT1.value.length <= 0) {
                    PASSWORDINPUTERRORFUNC1("<%= t('registerPage.emptyPasswordError') %>");
                    return;
                }
                if (PASSWORDINPUT2.value.length <= 0) {
                    PASSWORDINPUTERRORFUNC2("<%= t('registerPage.emptyPasswordError') %>");
                    return;
                }
                if (PASSWORDINPUT1.value !== PASSWORDINPUT2.value) {
                    PASSWORDINPUTERRORFUNC1("<%= t('registerPage.passwordNotEqualError') %>");
                    PASSWORDINPUTERRORFUNC2("<%= t('registerPage.passwordNotEqualError') %>");
                    return;
                }
                if (!BIRTHDAYINPUT.value || isNaN(year) || isNaN(month) || isNaN(day)) {
                    BIRTHDAYINPUTERRORFUNC("<%= t('registerPage.invalidDateError') %>");
                    return;
                }

                fetch("/api/registerFirstStep", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        email: EMAILINPUT.value,
                        emailsubject: "<%= t('registerPage.emailsubject') %>",
                        emailmessage: "<%= t('registerPage.emailmessage') %>",
                    })
                }).then(data => data.json()).then(data => {

                    const error = data.errorName;

                    if (error === "noerror") {
                        CODEPAGE.style.display = "flex";
                    } else if (error === "emailExsists") {
                        EMAILINPUTERRORFUNC("<%= t('registerPage.emailExsistsError') %>");
                    } else {
                        EMAILINPUTERRORFUNC("An unexpected error occurred. Please try again.");
                    }
                });
            });

            const SHOWPASSWORDCHECK1 = document.querySelector("#SHOWPASSWORDCHECK1");
            const SHOWPASSWORDCHECK2 = document.querySelector("#SHOWPASSWORDCHECK2");
            SHOWPASSWORDCHECK1.addEventListener("change", (event) => {
                if (event.target.checked === true) {
                    PASSWORDINPUT1.type = "text";
                } else {
                    PASSWORDINPUT1.type = "password";
                }
            });
            SHOWPASSWORDCHECK2.addEventListener("change", (event) => {
                if (event.target.checked === true) {
                    PASSWORDINPUT2.type = "text";
                } else {
                    PASSWORDINPUT2.type = "password";
                }
            });
        </script>
</body>

</html>