<!DOCTYPE html>
<html dir="<%= t('direction') %>" lang="<%= lang %>">

<head>
    <%- include('components/metadata_info')%>
        <style>
            html,
            body {
                height: 100%;
                width: 100%;
                overflow-x: hidden;
                margin: 0%;
            }

            .CENTER {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .PAGE {
                width: 100%;
                height: calc(100% - 80px);
                /* 100% - header */
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .LISTBUTTON {
                padding: 10px;
                color: #445368;
                /*background-color: #F48FB1;*/
                background-color: #fff0cc;
                font-size: 14px;
                font-family: "Arial";
                font-weight: bold;
                user-select: none;
                /*30 - 2*padding */
                cursor: pointer;
            }

            .LISTBUTTON:hover {
                background-color: #fee9b6;
            }

            .SEARCHCONTENT {
                font-size: 40px;
                color: #684444;
                padding: 50px;
                font-family: "Arial";
            }
        </style>
</head>

<body>

    <%- include('components/header') %>

        <div class="PAGE">
            <span class="SEARCHCONTENT">
                <%= t('searchPage.search') %>
                    <%= content %>
            </span>
            <%- include('components/searchMenu') %>
                <%- include('components/footer') %>
        </div>
        <script>

            function getCookie(name) {
                // Construct the cookie name as a search pattern
                const cookiePattern = `${name}=`;
                const cookies = document.cookie.split('; '); // Split cookies into individual parts

                for (let cookie of cookies) {
                    if (cookie.startsWith(cookiePattern)) {
                        // Extract the cookie value
                        return decodeURIComponent(cookie.substring(cookiePattern.length));
                    }
                }

                // Return null if cookie is not found
                return null;
            }

            function deleteCookie(cookieName) {
                document.cookie = `${cookieName}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
            }

            const SEARCHCONTENT = "<%= content %>".toLocaleLowerCase();

            document.querySelector(".HEADERSEARCH").value = "<%= content %>";
            LISTBUTTONS = document.querySelectorAll(".LISTBUTTON")
            if (SEARCHCONTENT.length > 0) {
                for (L of LISTBUTTONS) {
                    txt = L.innerText.toLowerCase();
                    if (!txt.includes(SEARCHCONTENT)) L.remove()
                }
            }

        </script>
</body>

</html>