<div class="CHAPTER">
    <%= t('jsExercises.question22.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('jsExercises.question') %> 22 : <%= t('jsExercises.question22.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(22,1,this)">
    <%= t('jsExercises.question22.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(22,2,this)">
    <%= t('jsExercises.question22.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(22,3,this)">
    <%= t('jsExercises.question22.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(22,4,this)">
    <%= t('jsExercises.question22.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(22,5,this)">
    <%= t('jsExercises.question22.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +240
    <%= t('jsExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -24
    <%= t('jsExercises.points') %>
</div>
</div>
<hr>