<div class="CHAPTER">
    <%= t('jsExercises.question23.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('jsExercises.question') %> 23 : <%= t('jsExercises.question23.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(23,1,this)">
    <%= t('jsExercises.question23.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(23,2,this)">
    <%= t('jsExercises.question23.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(23,3,this)">
    <%= t('jsExercises.question23.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(23,4,this)">
    <%= t('jsExercises.question23.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(23,5,this)">
    <%= t('jsExercises.question23.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +250
    <%= t('jsExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -25
    <%= t('jsExercises.points') %>
</div>
</div>
<hr>