<div class="CHAPTER">
    <%= t('jsExercises.question4.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('jsExercises.question') %> 4 : <%= t('jsExercises.question4.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(4,1,this)">
    <%= t('jsExercises.question4.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(4,2,this)">
    <%= t('jsExercises.question4.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(4,3,this)">
    <%= t('jsExercises.question4.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(4,4,this)">
    <%= t('jsExercises.question4.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(4,5,this)">
    <%= t('jsExercises.question4.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +40
    <%= t('jsExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -4
    <%= t('jsExercises.points') %>
</div>
</div>
<hr>