<div class="CHAPTER">
    <%= t('jsExercises.question5.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('jsExercises.question') %> 5 : <%= t('jsExercises.question5.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(5,1,this)">
    <%= t('jsExercises.question5.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(5,2,this)">
    <%= t('jsExercises.question5.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(5,3,this)">
    <%= t('jsExercises.question5.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(5,4,this)">
    <%= t('jsExercises.question5.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(5,5,this)">
    <%= t('jsExercises.question5.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +50
    <%= t('jsExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -5
    <%= t('jsExercises.points') %>
</div>
</div>
<hr>