<div class="CHAPTER">
    <%= t('jsExercises.question6.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('jsExercises.question') %> 6 : <%= t('jsExercises.question6.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(6,1,this)">
    <%= t('jsExercises.question6.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(6,2,this)">
    <%= t('jsExercises.question6.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(6,3,this)">
    <%= t('jsExercises.question6.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(6,4,this)">
    <%= t('jsExercises.question6.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(6,5,this)">
    <%= t('jsExercises.question6.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +50
    <%= t('jsExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -5
    <%= t('jsExercises.points') %>
</div>
</div>
<hr>