<div class="CHAPTER">
    <%= t('jsExercises.question8.chapter') %>
</div>
<h1 class="QUESTIONTITLE">
    <%= t('jsExercises.question') %> 8 : <%= t('jsExercises.question8.question') %>
</h1>
<div class="ANSWERBUTTON" onclick="checkAnswer(8,1,this)">
    <%= t('jsExercises.question8.answer1') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(8,2,this)">
    <%= t('jsExercises.question8.answer2') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(8,3,this)">
    <%= t('jsExercises.question8.answer3') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(8,4,this)">
    <%= t('jsExercises.question8.answer4') %>
</div>
<div class="ANSWERBUTTON" onclick="checkAnswer(8,5,this)">
    <%= t('jsExercises.question8.answer5') %>
</div>
<div class="POINTS_">
<div class="POINTS">
    +60
    <%= t('jsExercises.points') %>
</div>
<div class="LOSTPOINTS">
    -6
    <%= t('jsExercises.points') %>
</div>
</div>
<hr>